*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.sliderx{
  width: 100%auto;
  height: 100%auto;
overflow: hidden;
}
.sliderx ul{
 display: flex;
 animation: cambio 20s infinite alternate linear;
 width: 600%;
 text-align: center;
}
.sliderx li{
 width: 100%;
 list-style: none;
}
.sliderx img{
 width: 300px;
 height: 200px;
}
@keyframes cambio{
 0%{margin-left: 0;}
 12.5%{margin-left: 0;}

 17.5%{margin-left: -100%;}
 30%{margin-left: -100%;}

 35%{margin-left: -200%;}
 47.5%{margin-left: -200%;}

 52.5%{margin-left: -300%;}
 65%{margin-left: -300%;}

 70%{margin-left: -400%;}
 82.5%{margin-left: -400%;}

 87.5%{margin-left: -500%;}
 100%{margin-left: -500%;}
}
.slidery{
width: 100%auto;
height: 100%auto;
overflow: hidden;
}
.slidery ul{
 display: flex;
 animation: cambio2 15s infinite alternate linear;
 width: 300%;
 text-align: center;
}
.slidery li{
 width: 100%;
 list-style: none;
}
.slidery img{
 width: 500px;
 height: 330px;
}
@keyframes cambio2{
 0%{margin-left: 0;}
 25%{margin-left: 0;}

 33.3%{margin-left: -100%;}
 58.6%{margin-left: -100%;}

 66.6%{margin-left: -200%;}
 100%{margin-left: -200%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
 height: 100vh;
}
}
.sliderz{
  width: 100%auto;
  height: 100%auto;
overflow: hidden;
}
.sliderz ul{
 display: flex;
 animation: cambio3 20s infinite alternate linear;
 width: 600%;
 text-align: center;
}
.sliderz li{
 width: 100%;
 list-style: none;
}
.sliderz img{
 width: 500px;
 height: 330px;
}
@keyframes cambio3{
 0%{margin-left: 0;}
 12.5%{margin-left: 0;}

 17.5%{margin-left: -100%;}
 30%{margin-left: -100%;}

 35%{margin-left: -200%;}
 47.5%{margin-left: -200%;}

 52.5%{margin-left: -300%;}
 65%{margin-left: -300%;}

 70%{margin-left: -400%;}
 82.5%{margin-left: -400%;}

 87.5%{margin-left: -500%;}
 100%{margin-left: -500%;}
}
